body {
    background-color: #343A40;
}

h2 {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar-navbar-expand-lg-navbar-dark-bg-dark {
    margin-top: 2rem;
}
.container {
    margin-top: 2rem;
}